- present build do |b|
  %tr{ id: b.number }
    %td= b.number
    %td
      %span{ class: "label label-#{state_to_css_class(b.result)}" }= b.result.capitalize
    %td= b.view_build_logs
    %td
      %ul{class: 'jenkins-job-details-list'}
        %li= b.duration
        %li= b.finished_at

