- if jobs.empty?
  .nodata= l(:label_no_data)

- else

  .flash-messages

  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_1st_head_1st_cell'}
        %th{:colspan => 3, :class => 'jenkins_jobs_list_table_1st_head'}= l(:label_jenkins)
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_1st_head'}= l(:label_sonarqube)
      %tr
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_2nd_head_1st_cell'}= l(:label_job_name)
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_2nd_head'}= l(:label_latest_build)
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_2nd_head'}= l(:label_job_history)
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_2nd_head'}= l(:label_job_actions)
        %th{:colspan => 1, :class => 'jenkins_jobs_list_table_2nd_head'}

    %tbody
      - jobs.each do |job|
        = render partial: 'jenkins_jobs/job_solo', locals: { job: job }

  :javascript
    $(document).ready(function() { initModalBoxes(modals); });
